<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="_21_WCF_Assignment1_Task1New.Service1">
                <endpoint address="/HelloServicetcpHost"
                    binding="netTcpBinding" bindingConfiguration="" name="Task1TcpBinding"
                    contract="_21_WCF_Assignment1_Task1New.IService1" />
                <endpoint address="/HelloServicehttpHost"
                    binding="basicHttpBinding" bindingConfiguration="" name="Task1HttpBinding"
                    contract="_21_WCF_Assignment1_Task1New.IService1" />
              
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <endpoint address="mex1" binding="mexTcpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:8052/Service1.svc" />
                        <add baseAddress="http://localhost:8070/Service1.svc" />
                    </baseAddresses>
                </host>
            </service>
        </services>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <serviceMetadata />
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>